<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ferdi.catatan">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/note"
        android:label="@string/app_name"
        android:roundIcon="@drawable/note"
        android:supportsRtl="true"
        android:theme="@style/Theme.TugasUAS_10120108_Ferdiansyah"
        tools:targetApi="31">
        <activity
            android:name="com.ferdi.note.SignUpActivity"
            android:exported="false" />
        <activity
            android:name="com.ferdi.note.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.ferdi.note.ActivityHome"
            android:exported="false"
            android:label="Home Screen"
            android:theme="@style/apptheme.NoActionBar" />
        <activity
            android:name="com.ferdi.note.ui.daily.EditDiaryActivity"
            android:exported="false"
            android:theme="@style/apptheme.NoActionBar" />
        <activity
            android:name="com.ferdi.note.ui.about.FragmentAbout"
            android:exported="false"
            android:theme="@style/apptheme.NoActionBar"
            tools:ignore="Instantiatable" />
        <activity
            android:name="com.ferdi.note.ui.daily.CreateDiaryActivity"
            android:exported="false"
            android:theme="@style/apptheme.NoActionBar" />
        <activity
            android:name="com.ferdi.note.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.ferdi.note.ActivityWelcomeDialog"
            android:exported="false"
            android:theme="@style/apptheme.NoActionBar" />
        <activity
            android:name="com.ferdi.note.ActivitySplashScreen"
            android:exported="true"
            android:theme="@style/apptheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>